parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Schema\\\\Builder\\:\\:createDatabaseIfNotExists\\(\\)\\.$#"
			count: 1
			path: src/Datastore.php

		-
			message: "#^Constructor of class Envor\\\\Datastore\\\\Datastore has an unused parameter \\$disk\\.$#"
			count: 1
			path: src/Datastore.php

		-
			message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\:\\:expect\\(\\)\\.$#"
			count: 1
			path: tests/ArchTest.php
